<div class='row'>
  <div class='col-lg-8 col-lg-offset-2 centered'>

    <h1>Login</h1>

    <%= form_tag("/login", method: 'post', id: 'login-form') do %>
      <table>
        <tr class='field'>
          <th>Username</th>
          <td><%= text_field_tag(:username, '', class: 'form-control') %></td>
        </tr>
        <tr class='field'>
          <th>Password</th>
          <td><%= password_field_tag(:password, '', class: 'form-control') %></td>
        </tr>
        <tr class='actions'>
          <td colspan='2'>
            <%= submit_tag('Login', class: 'btn btn-success') %>
          </td>
        </tr>
      </table>
    <% end %>
    <%= link_to 'Back', root_path %><br><br>
  </div>
</div>