<% @meetings.each do |meeting| %>
  <div class='meeting'>
    <% date_and_time = "#{meeting.display_time} #{meeting.display_date}" %>
    <h4><%= link_to date_and_time, meeting_url(meeting) %></h3>
    <p><%= meeting.description %></p>
    <% meeting.talks.each do |talk| %>
      <div class='row'>
        <div class='col-lg-10 col-lg-offset-1'>
          <h5><%= talk.speaker.name %> - <%= link_to talk.title, talk_url(talk) %></h4>
          <p><%= talk.description %></p>
        </div>
      </h5>
    <% end %>
    <% if current_user %>
      <%= link_to 'Edit', edit_meeting_path(meeting) %> |
      <%= link_to 'Destroy', meeting, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
<% end %>