<% @meetings.each do |meeting| %>
  <div class='meeting'>
    <h3><%= link_to meeting.display_date, meeting_url(meeting) %></h3>
    <p class='meeting-time'><%= meeting.display_time %></p>
    <p><%= meeting.description %></p>
    <% meeting.talks.each do |talk| %>
      <h4><%= link_to talk.title, talk_url(talk) %></h4>
      <p><%= talk.description %></p>
    <% end %>
    <% if current_user %>
      <%= link_to 'Edit', edit_meeting_path(meeting) %> |
      <%= link_to 'Destroy', meeting, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  </div>
<% end %>