<p id="notice"><%= notice %></p>

<div class='show-meeting'>
  <h2><%= @meeting.display_date %></h2>
  <h4><%= @meeting.time %></h4>
  <p><%= @meeting.description %></p>
  <% if current_user %>
    <%= link_to 'Edit', edit_meeting_path(@meeting) %> |
  <% end %>
    <% destination = @meeting.date < Date.today ? past_meetings_path : upcoming_meetings_path %>
    <%= link_to 'Back', destination %>
</div>