<p id="notice"><%= notice %></p>

<div class='show-meeting'>
  <% date_and_time = "#{@meeting.display_time} #{@meeting.display_date}" %>
  <h3><%= date_and_time %></h3>
  <p><%= @meeting.description %></p>
  <% @meeting.talks.each do |talk| %>
    <div class='talk'>
      <h4><%= talk.title %></h4>
      <p><%= talk.description %></p>
    </div>
  <% end %>
  <% if current_user %>
    <%= link_to 'Edit', edit_meeting_path(@meeting) %> |
    <%= link_to 'Destroy', @meeting, method: :delete, data: { confirm: 'Are you sure?' } %> |
  <% end %>
    <% destination = @meeting.date < Date.today ? past_meetings_path : upcoming_meetings_path %>
    <%= link_to 'Back', destination %>
</div>