<% args = [@meeting, @speaker, @talk].compact %>
<%= form_for(args) do |f| %>
  <% if @talk.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@talk.errors.count, "error") %> prohibited this talk from being saved:</h2>

      <ul>
      <% @talk.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div><br>
  <div class="field form-group">
    <%= f.label :speaker %>
    <%= f.select :speaker_id, Speaker.all.map {|speaker| [speaker.name, speaker.id] }, {include_blank: true}, {class: 'form-control'} %>
  </div><br>
  <div class="field form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %>
  </div><br>
  <div class="field form-group">
    <%= f.label :meeting %>
    <%= f.select :meeting_id, Meeting.upcoming.map {|meeting| [meeting.date, meeting.id] }, {include_blank: true}, {class: 'form-control'} %>
  </div><br><br>
  <div class="actions">
    <%= f.submit class: 'btn btn-success' %>
  </div>
<% end %>
