<h2><%= @talk.title %></h2>

<p id="notice"><%= notice %></p>

<% if @talk.speaker %>
  <h3><%= @talk.speaker.name %></h3>
<% end %>

<p>
  <strong>Description:</strong>
  <%= @talk.description %>
</p>

<% if current_user %>
  <%= link_to 'Edit', edit_talk_path(@talk) %> |
  <%= link_to 'Destroy', @talk, method: :delete, data: { confirm: 'Are you sure?' } %> |
<% end %>
<%= link_to 'Back', talks_path %>
