<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table>
    <tr class="field">
      <th><%= f.label :username %></th>
      <td><%= f.text_field :name, class: 'form-control' %></td>
    </tr>
    <tr class="field">
      <th><%= f.label :email %></th>
      <td><%= f.text_field :email, class: 'form-control' %></td>
    </tr>
    <tr class="field">
      <th><%= f.label :password %></th>
      <td><%= f.password_field :password, class: 'form-control' %></td>
    </tr>
    <tr class="field">
      <th><%= f.label :password_confirmation %></th>
      <td><%= f.password_field :password_confirmation, class: 'form-control' %></td>
    </tr>
    <tr class="field">
      <th><%= f.label :first_name %></th>
      <td><%= f.text_field :first_name, class: 'form-control' %></td>
    </tr>
    <tr class="field">
      <th><%= f.label :last_name %></th>
      <td><%= f.text_field :last_name, class: 'form-control' %></td>
    </tr>
    <tr class="actions">
      <td colspan="2"><%= f.submit class: 'btn btn-success' %></td>
    </tr>
  </table>
<% end %>