<div class='row'>
  <h2>Welcome <%= "#{@admin.first_name} #{@admin.last_name }"%>!</h2><br /><br />
  <div class='panel' id="admin_panel">
    <nav id='admin_navbar'>
      <ul class='nav nav-pills'>
        <li role='presentation' class='active'><%= link_to "Manage Meetings", '#' %></li>
        <li role='presentation'><%= link_to "Manage Speakers", '#' %></li>
        <li role='presentation'><%= link_to "Manage Talks", '#' %></li>
      </ul>
    </nav>

    <%= render 'manage_meetings' %>
  </div>
</div>