<div class='row'>
  <h2>Welcome <%= "#{@admin.first_name} #{@admin.last_name }"%>!</h2><br /><br />
  <div class='container' id="admin_panel">
    <nav id='admin_navbar'>
      <ul class='nav nav-pills'>
        <li role='presentation' class='active' data-target='#create_meeting'><%= link_to "Create Meeting", '#', onclick: 'return false;' %></li>
        <li role='presentation' data-target='#create_speaker'><%= link_to "Manage Speakers", '#', onclick: 'return false;' %></li>
        <li role='presentation' data-target='#create_talk'><%= link_to "Manage Talks", '#', onclick: 'return false;' %></li>
      </ul>
    </nav>

    <div class='admin_view active' id='create_meeting'>
      <%= render 'manage_meetings' %>
    </div>
    <div class='admin_view' id='create_speaker'>
      <%= render 'manage_speakers' %>
    </div>
    <div class='admin_view' id='create_talk'>
      <%= render 'manage_talks' %>
    </div>
  </div>
</div>