<div class='container pt'>
  <div class='row mt'>
    <article id='speak' class='col-lg-12'>
      <section id='intro'>
        <h2>Speak at Test Ruby PDX</h2>
        <p>Each month, Test Ruby PDX presents one or two talks ranging in length from
        20 minutes to 1 hour. If you would like to speak about an issue related to Ruby
        testing, we'd love to hear what you have to say! On this page you'll find
        all the information you need to create and <a href='#submissions'>submit</a> an awesome talk.</p>
      </section>
      <section id='faq'>
        <h3>Frequently Asked Questions</h3>
        <p>Here are the questions we hear the most often from prospective speakers. If
          you have another one, feel free to <a href='/contact'>contact us</a>!
        </p>
        <h4>What perspectives are you looking for?</h4>
        <p>Test Ruby PDX exists to promote Ruby testing in all its forms. Different things
          work for different people and different projects, and reasonable people can 
          disagree. That's why we encourage you to <a href='#submissions'>submit any testing-related talk</a>. If
          we think it needs tweaking, we'll let you know!</p>
        <p>The most important qualification here is that talks should, in general, be geared
          toward developers and not project managers or QA/QE professionals (who have their own
          meetups). Test Ruby PDX exists to foster interest and involvement in testing on the 
          part of programmers, so that's who your target audience should be.</p>
        <p>When in doubt, please <a href='#submissions'>submit</a>! We won't bite and might even give 
          suggestions as to how to improve your proposal to be more on-point for our attendees.</p>
        <h4>How long should my talk be?</h4>
        <p>Talks can be anywhere from 20 minutes to 1 hour in length. We encourage you to
          include Q & A with your talk. At this point, we don't do lightning talks.
        </p>
        <h4>What topics should I cover?</h4>
        <p>We are very open to suggestions, but if you're looking for inspiration, check
          out <a href='#suggested_topics'>our list of suggested topics</a>, below.
        </p>
        <h4>I've never spoken at an event like this before. Should I submit a talk?</h4>
        <p>Yes, we'd love to have you - especially if you're a member of an underrepresented
         demographic group! We're happy to provide any support or advice new speakers
         need, whether you need advice on a topic, help with your talk outline, proofreading
         of slides, timing estimates, or something else entirely. (And since there are certain
         stumbling blocks most beginners encounter, we encourage you to take take us up on this!)</p>
        <h4>What is the general skill level?</h4>
        <p>Our group attracts developers of all levels, ages, and walks of life. However, we 
         encourage you to submit talks aimed at an intermediate or advanced skill level in Ruby.
         We find this keeps the event interesting to senior developers and inspiring to
         beginners.</p>
      </section>
      <section id='suggested_topics'>
        <h2>Suggested Topics</h2>
        <p>We encourage you to <a href='#submissions'>submit talks</a> on any subject related to Ruby testing and project management approaches. If you need some inspiration, the following are
        a few areas of interest:</p>
        <ul>
          <li>Concurrency issues</li>
          <li>Front-end JavaScript testing</li>
          <li>Contract/collaboration testing</li>
          <li>Continuous integration/continuous delivery</li>
          <li>Testing production apps</li>
          <li>Testing legacy codebases</li>
          <li>Testing-related tools</li>
        </ul>
      </section>
      <section id='submissions'>
        <h2>Submit a Talk</h2>
        <div class='col-lg-8'>
          <%= form_tag('/contact', method: :post, id: 'submit_talk') do %>
            <div class='form-group'>
              <%= text_field_tag 'first_name', nil, class: 'form-control', placeholder: 'First Name' %>
            </div>
            <div class='form-group'>
              <%= text_field_tag 'last_name', nil, class: 'form-control', placeholder: 'Last Name' %>
            </div>
            <div class='form-group'>
              <%= email_field_tag 'email', nil, class: 'form-control', placeholder: 'E-mail' %>
            </div>
            <div class='form-group'>
              <%= text_field_tag 'talk_title', nil, class: 'form-control', placeholder: 'Talk Title' %>
            </div>
            <div class='form-group'>
              <%= text_area_tag 'talk_description', nil, class: 'form-control', rows: 6, placeholder: 'Description' %>
            </div>
            <div class='actions'>
              <%= submit_tag 'Submit', class: 'btn btn-lg btn-success btn-block' %>
            </div>
          <% end %>
        </div>
      </section>
    </article>
  </div>
</div>