<%= form_for @speaker do |f| %>
  <% if @speaker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@speaker.errors.count, "error") %> prohibited this speaker from being saved:</h2>

      <ul>
      <% @speaker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field form-group">
      <%= f.label :first_name %>
      <%= f.text_field :first_name, class: 'form-control' %>
    </div><br>
    <div class="field form-group">
      <%= f.label :last_name %>
      <%= f.text_field :last_name, class: 'form-control' %>
    </div><br>
    <div class="field form-group">
      <%= f.label :website %>
      <%= f.text_field :website, class: 'form-control' %>
    </div><br>
    <div class="field form-group">
      <%= f.label :company %>
      <%= f.text_field :company, class: 'form-control' %>
    </div><br>
    <div class="field form-group">
      <%= f.label :bio %>
      <%= f.text_area :bio, class: 'form-control' %>
    </div><br><br>
    <tr class="actions">
      <td colspan="2"><%= f.submit class: 'btn btn-success' %>
    </div>
<% end %>
