<!DOCTYPE html>
<html>
<head>
  <title>Test Ruby PDX</title>
  <%= favicon_link_tag 'ruby.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'main', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'users', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'meetings', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'venues', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'site', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
  <!-- Static navbar -->
  <header id='top-nav' class="navbar navbar-inverse navbar-static-top">
    <div class="container">
      <% flash.each do |key, value| %>
        <a href='#' data-dismiss='alert'><%= value %></a>
      <% end %>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Test Ruby PDX</a>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'Upcoming Meetings', upcoming_meetings_url %></li>
          <li><%= link_to 'Past Meetings', past_meetings_url %></li>
          <li><%= link_to 'About Us', about_url %></li>
          <li><%= link_to 'Contact', contact_url %></li>
          <% if current_user %>
            <li><%= link_to 'Admin', admin_url %></li>
            <li><%= link_to 'Logout', logout_url %></li>
          <% end %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </header>
    
  <div class='container'>

  <div class='row'>
    <div class='container' id="admin_panel">
      <h2>Welcome <%= "#{@admin.first_name} #{@admin.last_name }"%>!</h2><br /><br />
      <%= yield %>
    </div>
  </div>

  </div>
  <footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h4>Contact Us</h4>
          <p>
            Dana Scheider<br/>
            Email: dana.scheider@gmail.com <br/>
            Twitter: @TestRubyPDX
          </p>
        </div><!-- /col-lg-4 -->
        
        <div class="col-lg-4">
          <h4>Links</h4>
          <p>
            <a href="/">Test Ruby PDX</a><br/>
            <a href="http://www.renewfinancial.com">Renew Financial</a><br/>
            <a href="http://twitter.com/testrubypdx">Twitter</a>
          </p>
        </div><!-- /col-lg-4 -->
        
        <div class="col-lg-4">
          <h4>About Us</h4>
          <p>Test Ruby PDX meets once a month for peer mentoring, conversation, and talks for Ruby developers of all levels.</p>
        </div><!-- /col-lg-4 -->
      
      </div>
    
    </div>
  </footer>
</body>
</html>